.map-overlay {
    position: absolute;
    top:0;
    margin: 0 auto;
    width: 20vw;
    background: #777;
    color:white;
    border-radius: 5px;
    width:300px;
    height:auto;
    padding:20px
}

.country-flag {
    display: block;
    width: 100%;
    margin: 0 auto;
}





